## IT 441, Assignment 4  
## Author : Sai Ram Gandla

In [249]:
#import os
import pandas as pd

In [250]:
 #os.getcwd()

'C:\\Users\\sgandla\\OneDrive - IL State University\\Desktop\\IT 441 Big Data\\Assignment 4'

In [248]:
df = pd.read_csv("Online Retail-1.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Display the first five rows:

Are there missing values in the dataset?

In [237]:

initial_count = len(df)
repeated_count = df.dropna(inplace=True)
rows_dropped = initial_count - len(df_no_duplicates)
print(f"Dropped {rows_dropped} lines with missing values.")

Dropped 135080 lines with missing values.

Give a general description about the dataset:

In [239]:
cust_count = df['CustomerID'].nunique() 
country_count = df['Country'].nunique()
quant = df['Quantity'].sum()
sales = (df['Quantity'] * df['UnitPrice']).sum()
print(f"The dataset contains {entries} transactions generated by {cust_count} customers from {country_count} countries.")
print(f"There are {quant} items sold and in ${sales:,.2f} dollars.")

The dataset contains 406829 transactions generated by 4372 customers from 37 countries.
There are 4906888 items sold and in $8,300,065.81 dollars.

Rank the countries based on their number of transactions:

In [240]:
def total_count(entry):
    return entry[1]
data_map = {}
for item in df['Country']:
    data_map[item] = data_map.get(item, 0) + 1
top_items = sorted(data_map.items(), key=extract_count, reverse=True)[:10]
print("The top 10 countries with the most transactions are:")
for item, number in top_items:
    print(f"{item} {number}")

The top 10 countries with the most transactions are:
United Kingdom 361878
Germany 9495
France 8491
EIRE 7485
Spain 2533
Netherlands 2371
Belgium 2069
Switzerland 1877
Portugal 1480
Australia 1259

Some general descriptions about the products:

In [241]:
total_count = df['Description'].nunique()
t20 = df['Description'].value_counts().head(20).index.tolist()

print(f"There are {total_count} products. Top 20 are:")
print("[")
for item in t20:
    print(f"'{item}',")
print("]")

There are 3896 products. Top 20 are:
[
'WHITE HANGING HEART T-LIGHT HOLDER',
'REGENCY CAKESTAND 3 TIER',
'JUMBO BAG RED RETROSPOT',
'ASSORTED COLOUR BIRD ORNAMENT',
'PARTY BUNTING',
'LUNCH BAG RED RETROSPOT',
'SET OF 3 CAKE TINS PANTRY DESIGN ',
'POSTAGE',
'LUNCH BAG  BLACK SKULL.',
'PACK OF 72 RETROSPOT CAKE CASES',
'SPOTTY BUNTING',
'PAPER CHAIN KIT 50'S CHRISTMAS ',
'LUNCH BAG SPACEBOY DESIGN ',
'LUNCH BAG CARS BLUE',
'NATURAL SLATE HEART CHALKBOARD ',
'HEART OF WICKER SMALL',
'LUNCH BAG PINK POLKADOT',
'JAM MAKING SET WITH JARS',
'REX CASH+CARRY JUMBO SHOPPER',
'LUNCH BAG SUKI DESIGN ',
]

What are the top 5 pairs of the most frequently purchased product together?

Hint: By purchased together, you may want to check this based on the InvoiceNo. If two items have the same invoice number, then that means they are bought together.

In [242]:
grouped_df = df[df['InvoiceNo'].duplicated(keep=False)]
grouped_descriptions = {}
for i, row in grouped_df.iterrows():
    invoice = row['InvoiceNo']
    description = row['Description']
    if invoice not in grouped_descriptions:
        grouped_descriptions[invoice] = []
    grouped_descriptions[invoice].append(description)
grouped_list = []
for key, value in grouped_descriptions.items():
    unique_items = list(set(value))
    sorted_items = sorted(unique_items)
    grouped_list.append(sorted_items)
def generate_pairs(items):
    pairs = []
    for i in range(len(items)):
        for j in range(i+1, len(items)):
            pairs.append((items[i], items[j]))
    return pairs
all_pairs = []
for items in grouped_list:
    pairs = generate_pairs(items)
    all_pairs.extend(pairs)
pair_count  = {}
for pair in all_pairs:
    if pair in pair_count:
        pair_count[pair] += 1
    else:
        pair_count[pair] = 1
sorted_pairs = sorted(pair_count.items(), key = lambda x: x[1], reverse=True)

print("They are:")
for i in range(5):
    pair, count = sorted_pairs[i]
    print(pair[0], "with", pair[1])

They are:
GREEN REGENCY TEACUP AND SAUCER with ROSES REGENCY TEACUP AND SAUCER
JUMBO BAG PINK POLKADOT with JUMBO BAG RED RETROSPOT
ALARM CLOCK BAKELIKE GREEN with ALARM CLOCK BAKELIKE RED
LUNCH BAG PINK POLKADOT with LUNCH BAG RED RETROSPOT
LUNCH BAG  BLACK SKULL. with LUNCH BAG RED RETROSPOT

Find out the top-10 customers with the most spendings:

In [243]:
df['TotalSpent'] = df['Quantity'] * df['UnitPrice']
top_spending = df.groupby(['CustomerID', 'Country'])['TotalSpent'].sum().sort_values(ascending=False).head(10)
print("Top 10 Customers by Spending:")
print("CustomerID\tCountry\tSpending")
for (customer, country), total in top_spending.items():
    print(f"{customer}\t{country}\t{total:,.2f}")

Top 10 Customers by Spending:
CustomerID	Country	Spending
14646.0	Netherlands	279,489.02
18102.0	United Kingdom	256,438.49
17450.0	United Kingdom	187,482.17
14911.0	EIRE	132,572.62
12415.0	Australia	123,725.45
14156.0	EIRE	113,384.14
17511.0	United Kingdom	88,125.38
16684.0	United Kingdom	65,892.08
13694.0	United Kingdom	62,653.10
15311.0	United Kingdom	59,419.34